server {
    listen 80;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location = /info/version {
        default_type application/json;
        return 200 '{"version":"__APP_VERSION__"}';
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
