@if (isEdit()) {
    <div class="abschnitt-edit">
        <div class="time-inputs">
            <input type="number" min="0" max="23" [(ngModel)]="startHour"/>:
            <input type="number" min="0" max="59" [(ngModel)]="startMinute"/> -
            <input type="number" min="0" max="23" [(ngModel)]="endHour"/>:
            <input type="number" min="0" max="59" [(ngModel)]="endMinute"/>
        </div>
        <div class="actions">
            <select [(ngModel)]="location">
                <option value="Büro">Büro</option>
                <option value="mobil">mobil</option>
            </select>
            <div class="icon-actions">
                <mat-icon matListItemIcon (click)="finishEdit()">check</mat-icon>
                <mat-icon matListItemIcon (click)="abortEdit()">close</mat-icon>
            </div>
        </div>
    </div>
} @else {
    {{ section().formattedString() }} <mat-icon matListItemIcon (click)="setEditable()">edit</mat-icon>
}
