@if (abschnitte()) {

    <mat-list>
        @for (abschnitt of abschnitte(); track $index) {
          <mat-list-item>
            <app-abschnitt [attr.data-testid]="'section-'+$index" [section]="abschnitt" (sectionChange)="aendereAbschnitt($index, $event)"/>
            <mat-icon matListItemIcon (click)="entferneAbschnitt($index)">delete</mat-icon>
          </mat-list-item>
        }
      </mat-list>
    
    <table mat-table class="mat-elevation-z8">
        <thead align="center">
            <tr>
                <th mat-header-cell>Gesamtdauer</th>
                <th mat-header-cell>Industriezeit</th>
                <th mat-header-cell>Industriezeit (gerundet)</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <td data-testid="fullduration">{{ gesamtdauer().formattedString()}}</td>
                <td data-testid="fullduration-industry">{{ gesamtdauer().industrial() | number: '1.2-2'}}</td>
                <td data-testid="fullduration-industry-rounded">{{ gesamtdauer().industrialQuarterPrecision() | number: '1.2-2'}}</td>
            </tr>
        </tbody>

    </table>
}