<div style="display: flex; flex-direction: column;">
    <mat-list style="flex-grow: 0.8; flex-shrink: 0.8">
        @for (abschnitt of abschnitte(); track $index) {
          <mat-list-item>
            <app-abschnitt [attr.data-testid]="'section-'+$index" [section]="abschnitt" (sectionChange)="aendereAbschnitt($index, $event)"/>
            <mat-icon matListItemIcon (click)="entferneAbschnitt($index)">delete</mat-icon>
          </mat-list-item>
        }
      </mat-list>
    
    <table style="flex-grow: 0.2; flex-shrink: 0.2" mat-table class="mat-elevation-z8">
        <thead align="center">
            <tr>
                <th mat-header-cell>Arbeitsort</th>
                <th mat-header-cell>Gesamtdauer</th>
                <th mat-header-cell>Industriezeit</th>
                <th mat-header-cell>Industriezeit (gerundet)</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <td>Büro</td>
                <td>{{ bueroDauer().formattedString()}}</td>
                <td>{{ bueroDauer().industrial() | number: '1.2-2'}}</td>
                <td>{{ bueroDauer().industrialQuarterPrecision() | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <td>mobil</td>
                <td>{{ mobilDauer().formattedString()}}</td>
                <td>{{ mobilDauer().industrial() | number: '1.2-2'}}</td>
                <td>{{ mobilDauer().industrialQuarterPrecision() | number: '1.2-2'}}</td>
            </tr>
            <tr>
                <td>Gesamt</td>
                <td data-testid="fullduration">{{ gesamtdauer().formattedString()}}</td>
                <td data-testid="fullduration-industry">{{ gesamtdauer().industrial() | number: '1.2-2'}}</td>
                <td data-testid="fullduration-industry-rounded">{{ gesamtdauer().industrialQuarterPrecision() | number: '1.2-2'}}</td>
            </tr>
        </tbody>

    </table>
</div>
