:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.abschnitt-liste {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  min-height: 0;
}

.abschnitt-liste__scroll {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

.abschnitt-liste__summary {
  flex: 0 0 auto;
}

:host ::ng-deep .abschnitt-item {
  height: auto;
  align-items: flex-start;
}

:host ::ng-deep .abschnitt-item .mdc-list-item__content {
  overflow: visible;
  white-space: normal;
  align-items: flex-start;
  width: 100%;
}
