<main style="flex-shrink: 0.9; flex-grow: 0.1;">
    <div style="display: flex; flex-direction: column;">
        <day-plan [day]="day()"/>
        <section style="flex-grow: 0.1; flex-shrink: 0.1">
            <div style="display: flex">
            <a style="flex-grow: 0.5; flex-shrink: 0.5" routerLink="" [queryParams]="previousDay()">Zurück</a>
            <div style="flex-grow: 1.0; flex-shrink: 1.0"></div>
            <a style="flex-grow: 0.5; flex-shrink: 0.5" routerLink="" [queryParams]="nextDay()">Vor</a>
        </div>
    </section>
    </div>
</main>
<p></p>
<footer style="flex-shrink: 0.1; flex-grow: 0.1;">
    <div style="display: flex;">
        <div style="flex-grow: 0.4; flex-shrink: 0.4;"></div>
        <div style="flex-grow: 0.1; flex-shrink: 0.1; text-align: center;">Versionsinformation</div>
        <div style="flex-grow: 0.1; flex-shrink: 0.1">
            <div>{{ commitTimestamp() }}</div>
            <div><a [href]="urlOfLastCommit()">{{ commitHash() }}</a></div>
        </div>
        <div style="flex-grow: 0.4; flex-shrink: 0.4;"></div>
    </div>
</footer>
