<main class="app-main">
    <div class="app-content">
        <day-plan [day]="day()"/>
        <section class="app-navigation">
            <div class="app-navigation__row">
                <a class="app-navigation__link" routerLink="" [queryParams]="previousDay()">Zurück</a>
                <div class="app-navigation__spacer"></div>
                <a class="app-navigation__link" routerLink="" [queryParams]="nextDay()">Vor</a>
            </div>
        </section>
    </div>
</main>
<footer class="app-footer">
    <div class="app-footer__row">
        <div class="app-footer__spacer"></div>
        <div class="app-footer__title">Versionsinformation</div>
        <div class="app-footer__meta">
            <div>{{ commitTimestamp() }}</div>
            <div><a [href]="urlOfLastCommit()">{{ commitHash() }}</a></div>
        </div>
        <div class="app-footer__spacer"></div>
        <div class="app-footer__actions">
            <app-download-plans></app-download-plans>
        </div>
    </div>
</footer>
