
Eingestempelt um:
    @if (!this.startTime()) { 
        <i>noch nicht eingestempelt</i>
    } @else {
        @if (isEdit()) {
            <input type="number" min="0" max="23" [(ngModel)]="hour"/>:
            <input type="number" min="0" max="59" [(ngModel)]="minute"/> <mat-icon matListItemIcon (click)="finishEdit()">check</mat-icon><mat-icon matListItemIcon (click)="abortEdit()">close</mat-icon>
        } @else {
            <div data-testid="login-time">{{ this.startTime()?.formattedString() }}<mat-icon matListItemIcon (click)="setEditable()">edit</mat-icon></div>
        }
    }
<p></p>
@if (!this.startTime()) {
    <button mat-button (click)="einstempeln()" data-testid="log-button"><mat-icon>login</mat-icon>Einstempeln</button>
} @else {
    <button mat-button (click)="ausstempeln()" data-testid="log-button"><mat-icon>logout</mat-icon>Ausstempeln</button>
}