@use '@angular/material' as mat;
@use 'variables' as vars;
@use 'mixins';

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @include mat.table-overrides((
    background-color: orange,
    header-headline-color: red,
  ));
}

body {
  font-family: vars.$font-family-base;
  margin: 0;
  padding: vars.$gap-page;
  height: 100%;
  @include mixins.fill-viewport-height;
  font-size: vars.$font-size-base;
  line-height: vars.$line-height-base;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@include mixins.mobile {
  body {
    overflow: hidden;
    padding: vars.$spacing-xl;
  }
}

th {
  padding: 20px;
}
