@use '@angular/material' as mat;

html {
  height: 100%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.table-overrides((
    background-color: orange,
    header-headline-color: red,
  ));
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: clamp(12px, 1.5vw, 24px);
  height: 100%;
  min-height: 100vh;
  font-size: clamp(16px, 1vw + 12px, 22px);
  line-height: 1.5;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}


th {
  padding: 20px
}
