name: Angular CI

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run prebuild
          npm run build:ci
      - name: run jest tests
        run: |
          npm test -- --ci
      - name: prepare e2e tests
        run: |
          npm run e2e-prepare:ci
      - name: execute e2e tests
        run: |
          npm run e2e:ci
      - name: upload e2e test report
        uses: actions/upload-artifact@v7
        with:
          name: e2e-test-report
          path: build/e2e
      - name: store build artifact
        uses: actions/upload-artifact@v7
        with:
          name: build-artifact
          path: |
            dist
            ./Dockerfile
  create-image:
    if: github.event_name == 'push'
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    runs-on: ubuntu-latest
    needs: [build]

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write


    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v8
        with:
          name: build-artifact
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract docker metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      IMAGE_TAG: main
    needs: [create-image]
    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/martoserver.key
          chmod 600 ~/.ssh/martoserver.key
          cat >>~/.ssh/config <<END
          Host ${{ secrets.SSH_HOST }}
            HostName ${{ secrets.SSH_HOST }}
            User ${{ secrets.SSH_USER }}
            IdentityFile ~/.ssh/martoserver.key
          END
      - name: Add Martoserver to Known Hosts
        run: ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: deploy docker image on server via SSH
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} -p ${{ secrets.SSH_PORT }} <<EOF
          cd docker
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main && \
          docker-compose up -d workingdiary && \
          docker image prune -a -f
          EOF
    
          
          
      

